.description {
  position: relative;
  display: grid;
  grid-template-rows: 391px max-content;
  font-family: "ptsans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #e6e6e6;
  text-transform: uppercase;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    background-image: url("../img/tablet-index-back.jpg");
    grid-template-rows: 516px max-content;
    margin: auto;
    background-size: cover;
    background-position-x: 3px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/back-desktop.jpg");
    z-index: 1;
    grid-template-rows: 517px max-content;
  }
}

.description__wrapper {
  background-image: url("../img/intro-triangle.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: bottom;
  display: grid;
  grid-template-rows: 389px max-content;
  margin: 0;

  @media (min-width: $tablet-width) {
    background-image: url("../img/intro-triangle-tablet.svg");
    grid-template-rows: 518px max-content;
    background-size: 100%;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/intro-triangle-desktop.svg");
    grid-template-rows: 518px max-content;
    background-size: 100%;
  }
}

.description__title {
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  margin: 0 auto;
  max-width: 256px;

  @media (min-width: $tablet-width) {
    max-width: unset;
    font-size: 21px;
    line-height: 26px;
  }
}

.description__text {
  padding: 32px 18px 35px 16px;
  margin-top: auto;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    padding: 50px 123px 54px 127px;
  }

  @media (min-width: $desktop-width) {
    padding: 59px 357px 44px 357px;
  }
}

.description__item {
  padding: 0 20px;
  list-style-type: none;
}

.description__image {
  margin: 0 auto;
  margin-top: 90px;
  display: block;

  @media (min-width: $tablet-width) {
    margin-top: 77px;
    width: 461px;
    height: 349px;
  }
}

.description__text-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  margin: 0;
  padding-top: 37px;
  padding-left: 8px;

  @media (min-width: $tablet-width) {
    padding: 29px 0 2px 0px;

    br {
      display: none;
    }
  }
}
