.form {
  font-family: "ptsans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  padding: 0 20px 28px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 323px 1fr;
    padding: 0 60px 60px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 495px 1fr;
    padding: 0 120px 60px;
  }
}

.form__name {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    padding-right: 44px;
    padding-bottom: 0;
    border-bottom: none;
    border-right: 1px solid #e5e5e5;

    .form__title {
      margin-bottom: 28px;
      text-align: left;
      padding-left: 84px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-right: 66px;

    .form__title {
      margin-bottom: 28px;
      padding-left: 165px;
    }
  }
}

.form__name:before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 338px;
    background-color: #e5e5e5;
    width: 1px;
  }

  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    right: -14px;
    top: 0;
    height: 338px;
    background-color: #e5e5e5;
    width: 1px;
  }
}

.form__title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 24px;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    font-size: 21px;
    margin-bottom: 28px;

    margin-top: 0;

    &--with-border {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 402px 1fr;
      align-items: center;

      &::before,
      &::after {
        content: "";
        height: 1px;
        background: #dbdbdb;
      }
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 45px;

    margin-top: 0;
  }
}

.form__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.form__label-text {
  padding-left: 16px;
}

.form__input {
  font-family: "ptsans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  width: 100%;
  height: 58px;
  border: none;
  background-color: #f2f2f2;
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
  // border: 4px solid transparent;
  box-sizing: border-box;
  outline: none;

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus,
  &:active,
  &:focus-within {
    background-color: #ffffff;
    outline: 4px solid #e5e5e5;
    outline-offset: -4px;
  }
}

.form__input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.form__list {
  @include list-reset;
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 46px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: auto auto;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 16px;
    text-align: left;
    margin: 0 20px 0 20px;

    &--radio {
      padding: 0 8px;

      .form__item {
        max-width: 277px;
        width: 280px;
      }
    }

    &--checkbox {
      grid-template-columns: 224px 224px;
      column-gap: 34px;
    }
  }

  @media (min-width: $desktop-width) {
    @include list-reset;
    display: grid;
    grid-template-columns: max-content max-content max-content max-content;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: center;
    gap: 64px;
    padding: 0 44px 14px 44px;

    &--radio {
      display: flex;
      justify-content: space-between;
      padding: 0;
      padding-left: 53px;
      padding-right: 12px;
      column-gap: 0;
    }

    &--checkbox {
      grid-template-columns: max-content max-content max-content max-content;
      column-gap: 64px;
    }
  }
}

.form__item {
  margin-bottom: 16px;
  min-height: 46px;

  @media (min-width: $tablet-width) {
    max-width: 224px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: unset;
  }
}

.form__radio {
  position: relative;
  display: block;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #f2f2f2;
  margin-right: 16px;
}

.form__control--radio {
  position: relative;
  text-transform: none;
  display: flex;

  @media (min-width: $tablet-width) {
  }
}

.form__features {
  position: relative;
  text-align: center;
  border: none;
  padding: 0;
  margin-bottom: 24px;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: $tablet-width) {
    margin: 23px 0 14px 0;
    grid-column: 1 / -1;
  }
}

.form__contacts {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: $tablet-width) {
    padding-left: 44px;
    border-bottom: none;

    .form__title {
      margin-left: -18px;
      margin-bottom: 26px;
      text-align: left;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 64px;

    .form__title {
      margin-left: 0;
      margin-bottom: 26px;
      padding-left: 30px;
    }
  }
}

.form__input--phone {
  background: #f2f2f2;
  padding: 16px 0 16px 16px;
  width: 100%;
  height: 58px;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  background-image: url("../img/telephone.svg");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 80px;
  padding-top: 17px;

  @media (min-width: $desktop-width) {
    font-size: 17px;
  }
}

.form__input--mail {
  background: #f2f2f2;
  border: none;
  padding: 16px 0 16px 16px;
  width: 100%;
  font-weight: 700;
  font-size: 17px;
  line-height: 26px;
  background-image: url("../img/mail.svg");
  background-repeat: no-repeat;
  background-position: right 0;
  padding-right: 80px;
}

.form__emotions {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / -1;

    .form__title {
      grid-column: 1 / -1;
    }
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 96px 1fr 1fr 96px;

    .form__title {
      grid-column: 1 / -1;
      margin-bottom: 28px;
    }
  }
}

.form__impressions {
  position: relative;
  border: none;
  text-align: center;
  padding-bottom: 8px;
  border-bottom: 1px solid#E5E5E5;

  @media (min-width: $tablet-width) {
    margin: 47px 0 16px 0;
    grid-column: 1 / -1;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    margin: 55px 0 40px 0;
  }
}

.form__features {
  position: relative;
  text-align: center;
  border: none;
  padding: 0;
  margin-bottom: 24px;
  border-bottom: 1px solid#E5E5E5;
  padding-bottom: 5px;

  @media (min-width: $tablet-width) {
    margin-bottom: 37px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 68px;

    .form__title {
      margin-bottom: 59px;
    }
  }
}

.form__control {
  position: relative;
  text-transform: none;
  display: flex;
  align-items: center;

  width: 100%;
  text-align: left;

  @media (min-width: $tablet-width) {
  }
}

.form__textarea {
  position: relative;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background: #f2f2f2;
  border: none;
  width: 100%;
  min-height: 147px;
  resize: none;
  color: #000000;
  margin-bottom: 49px;
  padding: 16px;
  height: 150px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
    height: 160px;
  }

  &:focus-within {
    background-color: #ffffff;
    outline: 4px solid #d5d5d5;
    outline-offset: -4px;
  }
}

.form__label-textarea {
  @media (min-width: $tablet-width) {
    grid-column: 1/ -1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 4;
  }
}

.form__submit {
  background-color: #81b3d2;
  color: #ffffff;
  text-decoration: none;
  font-family: "ptsans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  border: none;
  text-transform: uppercase;
  margin: 0;
  width: 100%;
  padding: 16px 0 16px 0;
  margin-bottom: 3px;

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
  }

  &:hover {
    background-color: #669ec0;
    box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2),
      inset 0px 1px 0px rgba(255, 255, 255, 0.2);
  }

  &:disabled {
    background-color: #5496bd;
    mix-blend-mode: normal;
    box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2),
      inset 0px 1px 0px rgba(255, 255, 255, 0.2);
  }
}

.form__subtext {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  text-align: right;

  @media (min-width: $tablet-width) {
    margin: 23px 0 16px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 23px 0 14px 0;
  }
}

.form__input-radio[type="radio"]:checked + .form__radio::before {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #333333;
  content: "";
  cursor: pointer;
}

.form__input-radio[type="radio"],
.form__input-checkbox {
  &:focus-within {
    & + .form__radio {
      background-color: #d5d5d5;
    }
  }
}

.form__input-checkbox {
  &:focus-within {
    & + .form__checkbox {
      background-color: #d5d5d5;
    }
  }
}

.form__control:hover .form__checkbox {
  background-color: #e5e5e5;
}

.form__control:active .form__checkbox {
  background-color: #d5d5d5;
}

.form__control:active .form__checkbox::before,
.form__control:active .form__checkbox::after {
  opacity: 0.3;
}

.form__control:hover .form__radio {
  background-color: #e5e5e5;
}

.form__control:active .form__radio {
  background-color: #d5d5d5;
}

.form__control:active .form__radio::before {
  opacity: 0.3;
}

.form__input-checkbox {
  position: absolute;
  left: 0;
  width: 46px;
  height: 46px;
  border-radius: 10%;
  background-color: #f2f2f2;
}

.form__checkbox {
  display: block;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 4px;
  margin-right: 16px;
  position: relative;
}

.form__input-checkbox:checked + .form__checkbox::before {
  position: absolute;
  top: 20px;
  left: 20px;
  content: "";
  transform: rotate(130deg);
  background-color: #333333;
  width: 21px;
  height: 3px;
}

.form__input-checkbox:checked + .form__checkbox::after {
  position: absolute;
  top: 22px;
  left: 12px;
  width: 15px;
  height: 3px;
  transform: rotate(45deg);
  background-color: #333333;
  content: "";
}
