.main-description {
  text-transform: uppercase;
  font-style: normal;
  position: relative;
  overflow-x: hidden;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 17px;
    background-color: $blue;
    background-image: url("../img/triangle-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: bottom;
    background-position-x: center;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.main-description__feature {
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin: 0;

  &::before {
    counter-increment: section;
    content: "— №" counter(section) " -";
    margin-bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    padding: 13px 0 0 0;
    max-width: 190px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    max-width: 300px;
  }
}

.main-description__text-grey {
  padding: 27px 31px;

  @media (min-width: $tablet-width) {
    padding: 50px 33px 55px;
  }

  @media (min-width: $desktop-width) {
    padding: 62px 33px 45px;
  }
}

.main-description__item--grey {
  background: #eeeeee;
  color: #000000;
  text-align: center;
  position: relative;

  @media (max-width: 767px) {
    height: 100%;

    &:not(:last-child)::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 20px;
      right: 20px;
      display: block;
      height: 1px;
      background-color: #d6d6d6;
    }
  }

  &:nth-child(2) .main-description__text-grey {
    @media (min-width: $tablet-width) {
      padding-top: 40px;
    }
  }

  @media (min-width: $tablet-width) {
    &:nth-of-type(2) {
      .main-description__text-grey {
        padding-top: 55px;
      }
    }
  }
}

.main-description__list {
  @include list-reset;
  counter-reset: section;
  list-style: none;
  counter-reset: section;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
  }
}

.main-description__item--blue {
  grid-column: 1 / -1;
  background: #81b3d2;
  color: #ffffff;
}

.main-description__title {
  font-family: "ptsans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  padding: 0 0 11px 0;
  margin: 0;
  text-align: center;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    padding: 0 0 5px 0;
    font-size: 21px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    max-width: 215px;
    margin-left: auto;
    margin-right: auto;
  }
}

.main-description__item {
  @media (max-width: 767px) {
    &:nth-child(2) {
      display: grid;

      .main-description__text {
        order: -1;
      }
    }
  }

  @media (min-width: $tablet-width) {
    &--blue {
      display: flex;
      flex-wrap: wrap;
      grid-column: 1 / -1;
    }
  }
}

.main-description__title--grey {
  font-family: "ptsans", sans-serif;
  font-style: normal;
  font-weight: 700;
  padding: 0 0 11px 0;
  margin: 0;
  text-align: center;
  color: #333333;

  @media (min-width: $tablet-width) {
    max-width: 158px;
    margin: 0 auto;
    padding-bottom: 0;
  }
}

.main-description__feature--grey {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333333;

  &::before {
    counter-increment: section;
    content: "— №" counter(section) " -";

    @media (min-width: $tablet-width) {
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 21px;
    }
  }

  @media (min-width: $tablet-width) {
    br {
      display: none;
    }
  }
}

.main-description__feature--blue {
  color: #ffffff;
}

.main-description__image {
  flex-grow: 1;
  object-fit: cover;
  order: 0;
  display: block;

  img {
    max-width: unset;
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    width: 66.6%;
  }
}

.main-description__item--blue .main-description__text {
  padding: 37px 18px;

  @media (min-width: $tablet-width) {
    width: 33.3%;
    padding: 51px 20px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 50px;
  }
}
