.main-footer {
  font-family: "ptsans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 auto;
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.main-footer__social {
  margin: auto;

  @media (min-width: $tablet-width) {
    padding: 36px 0 0 5px;
    margin: 0;
  }
}

.main-footer__social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.main-footer__link {
  padding: 27px 0 29px 0;
  text-align: center;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    padding-top: 48px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 51px 97px 45px 72px;
  }
}

.main-footer__copyright {
  display: flex;
  flex-wrap: wrap;
  margin: 43px 0 22px 0;
  text-align: center;
  gap: 12px;
  justify-content: center;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-right: 20px;
    padding-top: 15px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 43px 0 42px;
  }
}

.main-footer__social-link {
  position: relative;
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 48px;
  height: 48px;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0);

    &::before {
      opacity: 0.3;
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.main-footer__social-item {
  display: inline-block;
}

.main-footer__social-link--vk {
  &::before {
    background-image: url("../img/vk.svg");
  }
}

.main-footer__social-link--tg {
  &::before {
    background-image: url("../img/telegram.svg");
  }
}

.main-footer__social-link--youtube {
  &::before {
    background-image: url("../img/youtube.svg");
  }
}

.main-footer__copyright-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #000000;
  font-size: 14px;
  line-height: 21px;

  &:hover {
    color: #81b3d2;

    &:active {
      opacity: 0.3;
      color: #000000;
    }
  }
}
