.main-nav {
  background-color: #ffffff;
  width: 100%;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width:$mobile-width-only) {}

  @media (min-width:$tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width:$desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }
}


.main-nav__list a {
  color: #ffffff;
}


.main-nav__list-item {
  background-color: #81b3d2;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  min-height: 56px;
}

.main-nav__toggle {
  display: none;

  @media (min-width:$tablet-width) {
    border: none;
    display: block;
    background-color: #ffffff;
    margin-left: auto;
    position: relative;

  }
}
