.main-description {
  text-transform: uppercase;
  font-style: normal;
}

.main-description__feature {
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin: 0;

  &::before {
    counter-increment: section;
    content: "— № "counter(section) " -";

  }

  @media (min-width: $tablet-width) {
    padding: 13px 7px 0 0;
    max-width: 190px;

  }

  @media (min-width: $desktop-width) {
    max-width: 300px;

  }


}

.main-description__feature--grey {
  color: #333333;
}

.main-description__item--grey {
  background: #eeeeee;

  color: #000000;
  text-align: center;
}

.main-description__list {
  @include list-reset;
  counter-reset: section;
  background-position: top left;
  padding-top: 37px;

  background-color: #81b3d2;
  background-image: url(../img/triangle-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: -10px;

  position: relative;

  @media (min-width: $tablet-width) {
    background-image: none;
  }
}

.main-description__item--blue {
  grid-column: 1 / -1;
  background: #81b3d2;
  color: #ffffff;
}

.main-description {
  text-transform: uppercase;
  font-style: normal;
}

.main-description__list {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: section;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.main-description__title {
  font-family: "ptsans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  padding: 0 0 11px 0;
  margin: 0;
  text-align: center;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    padding: 0 0 11px 0;
  }
}

.main-description__item {
  @media (min-width: $tablet-width) {
    &--blue {
      display: flex;
      flex-wrap: wrap;
      grid-column: 1 / -1;
    }
  }
}

.main-description__title--grey {
  font-family: "ptsans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  padding: 0 0 11px 0;
  margin: 0;
  text-align: center;
  color: #333333;

  @media (min-width: $tablet-width) {
    padding: 0 0 11px 0;
  }
}

.main-description__feature--grey {
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    counter-increment: section;
    content: "— № "counter(section) " -";
    padding-bottom: 19px;
  }
}

.main-description__feature--blue {
  color: #ffffff;

}

.main-description__image {
  flex-grow: 1;
  object-fit: cover;
  order: 0;
  display: block;

  img {
    max-width: unset;
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    width: 66.6%;
  }
}

.main-description__item--blue .main-description__text {
  padding: 37px 18px;

  @media (min-width: $tablet-width) {
    width: 33.3%;
  }

  @media (min-width: $desktop-width) {
    padding: 50px;
  }
}

.main-description__text-grey {
  padding: 24px 18px;

  @media (min-width: $desktop-width) {
    padding: 50px;
  }
}
