.modal__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-container__block-open,
.modal-container__block {
  background-color: #ffffff;
  padding: 45px 42px 28px 42px;
}

.modal__button {
  text-transform: uppercase;
  font-family: "ptsans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  border: none;
  color: #ffffff;
  background-color: #81b3d2;
  width: 180px;
  height: 58px;

  @media (min-width: $tablet-width) {
    width: 272px;
    height: 58px;
  }
}

.modal__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
  }
}

.modal__feature {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  padding-bottom: 50px;
  margin: 0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-bottom: 74px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 72px;
  }
}

.modal {
  display: none;
  text-transform: uppercase;
  font-family: "ptsans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 26px;
  text-align: center;
  position: relative;
  margin: auto;

  &--close {
    display: none;
  }
}

.modal__block {
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fff;
  background-image: linear-gradient(to top, #f2f2f2 98px, #fff 0);

  @media (min-width: $tablet-width) {
    width: 400px;
    padding: 48px;
    margin: auto;
    background-image: linear-gradient(to top, #f2f2f2 146px, #fff 0);
  }

  @media (min-width: $desktop-width) {
    width: 640px;
    padding-top: 50px;
    padding-left: 97px;
    padding-right: 99px;
  }
}

.modal__block-open {
  padding-top: 45px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 35px;
  background-color: #fff;

  @media (min-width: $tablet-width) {
    width: 400px;
    margin: auto;
    padding: 48px 41px;
  }
}
