.order {
  font-family: "ptsans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0 auto;
}

.order__title {
  margin-top: 17px;
  margin-bottom: 0;
}

.order__text {
  padding: 25px 0 0 0;
  text-align: center;
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 29px;
  margin-top: 0;
}
