.order {
  font-family: "ptsans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0 auto;
}

.order__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.order__text {
  padding: 23px 0 0;
  text-align: center;
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0 auto 32px;
  max-width: 270px;

  @media (min-width: $tablet-width) {
    padding: 12px 0 1px 0;
    margin-bottom: 21px;
    max-width: 397px;
  }

  @media (min-width: $desktop-width) {
    padding: 12px 0 4px 0;
  }
}

.order__card-image {
  flex-grow: 1;
  display: block;
  object-fit: cover;
  margin-top: 49px;
  border: none;
  width: 100%;
  height: 350px;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.order__link.button {
  display: block;
  width: 284px;
  padding: 16px 49px 16px 49px;

  @media (min-width: $tablet-width) {
    width: 458px;
    padding: 14px 135px 17px 137px;
    margin-bottom: 60px;
  }
}

.order__text-transfer {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.order__text-endure {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}

.order__title {
  margin-top: 17px;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
    margin-top: 49px;
    margin-bottom: 19px;
  }
}
