.video {
  font-family: "ptsans", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-right: 10px;
  margin-left: 10px;
}

.video__text {
  margin: 0;
  text-align: center;
  padding: 0 0 38px 0;
}

.video__title {
  margin: 0;
  font-size: 18px;
}

.video__feature {
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 2px;
  margin-top: 25px;
}

.video__video {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video__video-image {
  width: 280px;
  height: 177px;
  display: block;
}
